@import '../../variables.scss';
@import '../../mixins.scss';

.about {
    @include container-width;
    @include mx-center;

    &__mainSection {
        @include flex-sbetween-center;
        margin-bottom: 4.5rem;
    }
    &__container {
        background-color: $light-bgcolor;
        padding-top: 14.6rem;
        padding-bottom: 20rem;

    }

    &__title {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 4rem;
        color: $main-black;
        margin-bottom: 2rem;
    }

    &__description {
        @include moolish-400-13;
        color: $main-gray;
        margin-bottom: 2rem;
    }

    &__IconsWrap {
        display: flex;
        &>div {
            margin-right: .6rem;
        }
    }

    &__imgSide {
        width: 30vw;
        min-width: 20%;
        height: 23rem;
        border: 3px solid #2d2e32; 
        background-image: url('AboutPhoto.jpeg');
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        transition: all 1s ease-in-out;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__handImg {
        max-height: 100%;
        height: 3rem;
    }

    &__technologies {
        @include flex-start-center;
    }

    &__stackTextWrap {
        display: block;
        flex-basis: 11%;
        border-right: 2px solid $black-gradient;
    }

    &__stackText {
        @include moolish-800-11;
    }
}

.icons {
    transition: all .25s ease-in-out;

    &:hover {
        @include hover-up;
    }

    &__wrap {
        display: flex;
        flex-basis: 65%;
        justify-content: space-evenly;
    }
}

.border-animation {
	animation: animatedBorder 8s ease-in-out infinite;
}

@keyframes animatedBorder {
	0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
	50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
